<div class="container">
  <h1>{{ PageTitle }}</h1>
  <div class="container__button-block">
    <button (click)="changeTitle()">Click to change title</button>
  </div>
  <hr />
  <button (click)="toggleCards()">{{ cardState }} cards</button>
  <hr />
  <!-- <app-form></app-form> -->
  <div *ngIf="!hided; else noCards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <hr>
    <app-card
    *ngFor="let iterCard of cards; let idx=index"
    [card]="iterCard"
    [index]="idx+1"></app-card>
  </div>
</div>

<ng-template #noCards>
  <p> Cards are hidden! </p>
</ng-template>