.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    & > h1{
        text-align: center;
    }

    & > h2{
        text-align: center;
    } 

    &__button-block{
        display: flex;
        justify-content: center;
        padding: 1.2em;
    }
}
